<pre id="output" style="height:300px; overflow:auto; position:relative">
	<img style="position:fixed; left: 45%; top: 45%; z-index:1; height:40px; display:none" src="/assets/loading51.gif" id="loading-img"/>
</pre>
<div class="row-fluid">
	<div class="span6">
		<form id="myForm" class="form-inline" method="POST" action="/terminals/execute">
		  <input type="text" class="input-large" style="width:70%" name="command" placeholder="Enter Command">
		  <button type="submit" class="btn btn-primary">Go</button>
		</form>
	</div>
	<div class="span6">
	  <button id="refresh" class="btn btn-success">Get Data</button>
	  <button id="kill" class="btn btn-warning">Kill process</button>
	  <button id="reset" class="btn btn-danger">Reset</button>
  	</div>
</div>

<script> 
	// wait for the DOM to be loaded 
	$(document).ready(function() {

		$.ajaxSetup({
			beforeSend: function() {
				$("#loading-img").show()
			}
			, error: function() {
				alert("an error has occured")
				$("#loading-img").hide()
			}
		});

		// bind 'myForm' and provide a simple callback function 
		$('#myForm').ajaxForm({
			beforeSend: function() {
				$("input[name='command']").val(''); 
				$("#loading-img").show()
			}
			, success: function(data) {  fetchData(data) }
			,complete: function() { 
				$("input[name='command']").focus(); 
			}
		});
		
		$("#refresh").click(function(){ poll(fetchData) });

		$("#kill").click(function(){
			$.ajax ({
				url: "/terminals/kill",
				success: function(data){ fetchData(data) }
			})
		})

		$("#reset").click(function(){
			$.ajax({
				url: "/terminals/reset",
				success: function(data) { fetchData(data) }
			})
		})
		
		initialize();
	});

	var objDiv = document.getElementById("output");
	
	function initialize() {
		$("#output").html('<img style="position:fixed; left: 45%; top: 45%; z-index:1; height:40px; display:none" src="/assets/loading51.gif" id="loading-img"/>')

		$.ajax({
				url: "/terminals/execute",
				type: "POST",
				data: "",
				success: function(data) { fetchData(data) }
				,complete: function() { $("input[name='command']").focus(); }
			})
	}

	function fetchData(data) {
		if ( data.content != "") { //change it to remove the last line of the previous data & append current data
			console.log("Data received - " + data.content)
			$("#output").append(ansispan(data.content))
			objDiv.scrollTop = objDiv.scrollHeight
		}
		if ( data.status == "waiting" ) {
			setTimeout(function() {poll(fetchData)}, 3000)
		}
		else if (data.status == "error") {
			initialize()
		}
		else {
			$("#loading-img").hide()
		}
	}


	function poll(func) {
		console.log("inside poll")
		$.ajax( {
			url: "/terminals/get",
			success : function(data, textStatus, jqXHR){
				if ( data == "" ) {
					setTimeout(function() {poll(func)}, 3000)
				}
				else {
					func(data)
				}
			}
		})
	}


</script> 
