<pre id="output" style="height:300px; overflow:auto; position:relative">
	<img style="position:fixed; left: 45%; top: 45%; z-index:1; height:40px; display:none" src="/assets/loading51.gif" id="loading-img"/>
</pre>
<div class="row-fluid">
	<form id="myForm" class="form-inline" method="POST" action="/terminals/execute">
	  <input type="text" class="input-large" name="command" placeholder="Enter Command">
	  <button type="submit" class="btn btn-primary">Go</button>
	  <button id="kill" class="btn btn-warning">Kill running process</button>
	  <button id="reset" class="btn btn-danger">Reset</button>
	</form>
</div>

<script> 
	// wait for the DOM to be loaded 
	$(document).ready(function() {

		$.ajaxSetup({
			beforeSend: function() {
				$("#loading-img").show()
			}
			, error: function() {
				alert("an error has occured")
				$("#loading-img").hide()
			}
		});

		// bind 'myForm' and provide a simple callback function 
		$('#myForm').ajaxForm({ 
			success: function(data) {  fetchData(data) }
			,complete: function() { $("input[name='command']").val(''); }
		});

		$("#kill").click(function(){
			$.ajax ({
				url: "/terminals/kill",
				success: function(data){ fetchData(data) }
			})
		})

		$("#reset").click(function(){
			$.ajax ({
				url: "/terminals/reset",
				success: function(data){ initialize() }
			})
		})
		
		initialize();
	});

	var objDiv = document.getElementById("output");
	
	function initialize() {
		$("#output").html('<img style="position:fixed; left: 45%; top: 45%; z-index:1; height:40px; display:none" src="/assets/loading51.gif" id="loading-img"/>')

		$.ajax({
				url: "/terminals/execute",
				type: "POST",
				data: "",
				success: function(data) { fetchData(data) }
			})
	}

	function fetchData(data) {
		if ( data.content != "") { //change it to remove the last line of the previous data & append current data
			console.log("Data received - " + data.content)
			$("#output").append(data.content)
			objDiv.scrollTop = objDiv.scrollHeight
		}
		if ( data.status == "waiting" ) {
			setTimeout(function() {poll(fetchData)}, 3000)
		}
		else {
			$("#loading-img").hide()
		}
	}


	function poll(func) {
		$.ajax( {
			url: "/terminals/get",
			success : function(data, textStatus, jqXHR){
				if ( data == "" ) {
					setTimeout(function() {poll(func)}, 3000)
				}
				else {
					func(data)
				}
			}
			, beforeSubmit: function(){}
		})
	}


</script> 
